.view{
    width: fit-content;
    padding: 6px;
    background-color: #f7c01b;
    border-top-left-radius:15px ;
    border-bottom-right-radius:15px ;
    cursor: pointer;
    margin-top: 10px;
}

.view:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}

.special-offer h2{
    margin-top: 20px;
    margin-right: 20px;
color: #2c3e50;
}
.special-offer h2 span{
   
color: #da3737;
}
.special-offer h2 span #FaRegClock{
   font-size: 30px;
   vertical-align: middle;
}

.special-offer #old-price{
   color: red   ;
   text-decoration: line-through;
   padding-right: 10px;
}


.offer-wrpper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100vw;
    justify-content: space-around;

}
.card-ofer {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background: #fff;
  width: 40%;
  margin: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card-ofer .card__title {
  margin: 10px 10px;
  display: flex;
  justify-self: end;
  align-items: center;
  padding: 10px;
  background-color: #f7c01b;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.card-ofer .card__title h3 {
  flex: 0 1 200px;
  text-align: left;
  margin: 0;
  color: #252525;
  font-weight: 600;
  font-size: 22px;
}
.card-ofer .card__title .icon {
  flex: 1 0 10px;
  background: #fff;
  color: #fff;
  padding: 10px 10px;
  transition: 200ms;
}
.card-ofer .card__title .icon > a {
  color: #fff;
}
.card-ofer .card__title .icon:hover {
  background: #252525;
}
.card-ofer .card__body {
  padding: 0 10px;
  display: flex;
  flex-flow: row no-wrap;
  margin-bottom: 25px;
}
.card-ofer .card__body > .half {
  box-sizing: border-box;
  padding: 0 15px;
  flex: 1 0 50%;
}
.card-ofer .card__body .featured_text h1 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 50px;
  color: #181e28;
}
.card-ofer .card__body .featured_text p {
  margin: 0;
  padding: 0;
}
.card-ofer .card__body .featured_text p.sub {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #686e77;
  font-weight: 300;
  margin-bottom: 5px;
}
.card-ofer .card__body .featured_text p.price {
  font-family: "Fjalla One", sans-serif;
  color: #252525;
  font-size: 26px;
}
.card-ofer .card__body .image {
  padding-top: 15px;
  width: 100%;
}
.card-ofer .card__body .image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card-ofer .card__body .description {
  margin-bottom: 25px;
}
.card-ofer .card__body .description p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #555;
}
.card-ofer .card__body span.stock {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #a1cc16;
}
.card-ofer .card__body .reviews .stars {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.card-ofer .card__body .reviews .stars > li {
  display: inline-block;
  color: #f7c01b;
}

.card-ofer .card__body .reviews > span {
  font-size: 14px;
  margin-right: 5px;
  color: #555;
}
.card-ofer .card__footer {
  padding: 30px 40px;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  position: relative;
}
.card-ofer .card__footer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right:  40px;
  width: calc(100% - 40px);
  height: 3px;
  background: #115dd8;
  background: linear-gradient(to right, #115dd8 0%, #115dd8 20%, #ddd 20%, #ddd 100%);
}
.card-ofer .card__footer .recommend {
  flex: 1 0 10px;
}
.card-ofer .card__footer .recommend p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #555;
}
.card-ofer .card__footer .recommend h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #115dd8;
}
.card-ofer .card__footer .action button {
  cursor: pointer;
  border: 1px solid #115dd8;
  padding: 14px 30px;
  border-radius: 200px;
  color: #fff;
  background: #115dd8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}
.card-ofer .card__footer .action button:hover {
  background: #fff;
  color: #115dd8;
}

@media (max-width:820px) {
    .offer-wrpper{
       flex-direction: column;
        justify-content: center;
    
    }
    .card-ofer {
      width: 90%;
    }
}