.mian-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #FF6600;
    font-size: 24px;
    color: #e5eae4;
    opacity : 0.9;
 

}

.middle-header{
    color: #F5F5F5;
    margin-top: -10px;

}

.mian-header div:nth-child(2){
    font-size: xx-large;
}

.right-header , .middle-header,.left-header{
 cursor: pointer;   
}
.right-header {
    color: #F5F5F5;
}

.search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #FF6600;
}

.search .search-box .search-input-box{
    padding: 8px;
    padding-right: 10px;
    height: 60px;
    width: fit-content;
    border: none;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;
    font-size: large;
}


.search .search-box .btn-search{
    background-color: #8FD14F;
    padding: 8px;
    height: 60px;
    width: 60px;
    border: none;
    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px ;
    cursor: pointer;
    font-size: large;
    /* margin-right: -2px; */
    color: #F5F5F5;
    opacity: 0.9;
}

.search .search-box .btn-search:hover{
    opacity: 1;
}


.search .cart-box{
    color: #F5F5F5;
    font-size: x-large;
    cursor: pointer;
    position: relative;

}

.search .cart-box .icon-catr{
    font-size: xx-large;
    margin-bottom: -10px;
}

.search .cart-box span{
   position: absolute;
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   background-color: red;
   font-size: small;
   text-align: center;
   left: 20px;
}
   
.navbar{
    background-color: #FF6600;
    z-index: 100;
}

.navbar .nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   padding: 15px;
  
}
.navbar .nav-list .nav-item{
    color: #F5F5F5;
   font-size: x-large;
   cursor: pointer;
}

.navbar .nav-list .nav-item:hover{
    color: #8FD14F;
    opacity: 0.8;
    
}
.navbar .nav-list .nav-item:first-child{
    display: none;
    
  }
.navbar .nav-list .nav-item:last-child{
    color: #8FD14F;
    
}
/* close open header */
.close-open{
  display: none;
}

/*  media header */
@media (max-width:920px) {
    .middle-header , .left-header{
       display: none;
    }
    .search{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .search .search-box {
        margin-bottom: 15px;
        width: 100%;
    }
    .search .search-box .search-input-box{
        width: 85%;
    }
    
    
    .search .search-box .btn-search{
        width: 15%;
    }
    
    /* nav */

    
    .navbar .nav-list{
        width: 320px;
        height: 100vh;
        background-color: #FF6600;
        opacity: .9;
        z-index: 99;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
      
      
    }
    .navbar .nav-list .nav-item{
       font-size: large;
       margin: 15px;
      
    }
    
    .navbar .nav-list .nav-item:first-child{
        display: block;
        position: absolute;
        left:0;
       color: red;
       font-size: x-large;
        
      }

      .navbar .nav-list .nav-item:first-child:hover{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
      .navbar .nav-list .nav-item:nth-child(2){
        margin-top: 50px;
        
      }
    

    /* close open header */

    .close-open{
       display: inline;
       font-size: larger;
    }
    
}