.footer-wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #858383;
    margin-top: 20px;
}

.footer-wrapper h2{
    opacity: 0.8;
}

.footer-wrapper #email-icon{
    opacity: 0.8;
    vertical-align: middle;
    cursor: pointer;
}

.footer-wrapper .footer-first{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    
}
.footer-wrapper .footer-first p{
   cursor: pointer;
}


.footer-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    border-top: 2px solid #858383;

}
.footer-middle .footer-cat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
   
}



.footer-middle .footer-cat li {
    margin-right: 25px;
    opacity: 0.6;
    cursor: pointer;
    margin-top: 7px;
 }
 .footer-middle .footer-cat li:hover {
   color: #2c3e50;
   opacity: 1;
   transform: translate3d(3px , 3px, 3px);
   -webkit-transform: translate3d(3px , 3px, 3px);
   -moz-transform: translate3d(3px , 3px, 3px);
   -ms-transform: translate3d(3px , 3px, 3px);
   -o-transform: translate3d(3px , 3px, 3px);
}
 .footer-middle .footer-cat li:first-child {
    margin-right: -30;
    opacity: 0.8;
    font-size: x-large;
    margin-bottom: 10px;
 }
 
 .footer-middle .footer-cat li:first-child:hover {
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    color: inherit;
}
 

.footer-last{
    width: 100vw;
    border-top: 2px solid #858383;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #2c3e50;
    font-size: x-large;
    color: azure;
} 

.footer-last  #last-icon{
  vertical-align: middle;
} 


@media (max-width:920px) {
   
    .footer-wrapper .footer-first{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .footer-middle{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100vw;
    
    }

   
}


@media (max-width:700px) {
   
    
}

        